<mat-toolbar color="primary">
    <!-- <span>Instituto Abbey Road</span> -->
    <span>Instituto Abbey Road - Gestión de Alumnos</span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <button routerLink="/login" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>logout</mat-icon>
      </button>
</mat-toolbar>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <img src="../../../assets/img/logo.jpg" alt="">
</body>
</html>