<app-navbar></app-navbar>
<div class="container">
    <mat-toolbar>
        <span>{{titulo}}</span>
    </mat-toolbar>
    <mat-card style="margin-top: 35px;">
        <form [formGroup]="form" (ngSubmit)="agregarAlumno()">
            <mat-grid-list cols="4" rowHeight="70px">
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Apellido</mat-label>
                        <input type="text" matInput autocomplete="off" formControlName="apellido">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Nombre</mat-label>
                        <input matInput autocomplete="off" formControlName="nombre">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>DNI</mat-label>
                        <input type="number"class="no-arrows" [disabled]="false" matInput autocomplete="off" formControlName="dni">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho example-full-width">
                        <mat-label>Fecha de Nacimiento</mat-label>
                        <input matInput [matDatepicker]="picker" [min]="minimo" [max]="maximo"
                            formControlName="fechaNacimiento">
                        <mat-datepicker-toggle matIconSuffix [for]="picker">
                            <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Domicilio</mat-label>
                        <input matInput autocomplete="off" formControlName="domicilio">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Celular Principal</mat-label>
                        <input type="number" matInput class="no-arrows"autocomplete="off" formControlName="celularPrincipal">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Celular Secundario</mat-label>
                        <input type="number" matInput class="no-arrows"matInput autocomplete="off" formControlName="celularSecundario">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho example-full-width">
                        <mat-label>Estudios</mat-label>
                        <select matNativeControl autocomplete="off" formControlName="estudios">
                            <option value="Primario">Primario</option>
                            <option value="Secundario">Secundario</option>
                            <option value="Terciario">Terciario</option>
                            <option value="Universitario">Universitario</option>
                        </select>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho example-full-width">
                        <mat-label>Fecha de Ingreso</mat-label>
                        <input matInput [matDatepicker]="picker1" [min]="minimo" [max]="maximo"
                            formControlName="fechaIngreso">
                        <mat-datepicker-toggle matIconSuffix [for]="picker1">
                            <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho example-full-width">
                        <mat-label>Fecha de Egreso</mat-label>
                        <input matInput [matDatepicker]="picker2" [min]="minimo" [max]="maximo"
                            formControlName="fechaEgreso">
                        <mat-datepicker-toggle matIconSuffix [for]="picker2">
                            <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <mat-form-field class="ancho">
                            <mat-label>Nivel Alcanzado</mat-label>
                            <input matInput autocomplete="off" formControlName="nivelAlcanzado">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho example-full-width">
                        <mat-label>Cuotas Pagas</mat-label>
                        <mat-select multiple formControlName="cuotaPaga" [(value)]="selected">
                            <!-- <mat-select-trigger>
                                {{cuotaPaga.value?.[0] || selected}}
                            </mat-select-trigger> -->
                            <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
                <div class="observaciones">
                    <mat-grid-tile [colspan]="2" [rowspan]="3">
                        <mat-form-field class="anchoObs">
                            <mat-label>Observaciones</mat-label>
                            <textarea matInput autocomplete="off" formControlName="listaObs"
                                [(ngModel)]="textoTextarea" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="3">
                        <mat-form-field class="anchoObs">
                            <mat-label>Observaciones</mat-label>
                            <textarea matInput autocomplete="off" formControlName="observaciones"
                                [(ngModel)]="textoTextarea" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
                        </mat-form-field>
                    </mat-grid-tile> 
                </div>
                <mat-grid-tile [colspan]="4" [rowspan]="2">
                    <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary">Aceptar</button>
                    <button mat-raised-button style="margin-left: 20px;" routerLink="/alumnos">Volver</button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-card>
</div>